{% load static %}

<html>
<head>
    <title>stpro</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
    <body>
        <div class="container mt-5">
            <h2 class='text-center alert alert-danger'>Function Based View ModelForm  CRUD Project</h2>
            {% block content%}

            {%  endblock content%}
        </div>


       
    <script src="{% static 'enroll/js/jquery.js' %}"></script>
    <script src="{% static 'enroll/js/popper.js' %}"></script>
    <script src="{% static 'enroll/bootstrap.js' %}"></script>
    </body>
</head>
</html>